<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>01-百思不得姐.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>B0B138CE1D38E32100AA9631</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B0B138E71D38E32100AA9631</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B0B138F21D38E32100AA9631</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
